/* ======================
   MODO OSCURO
====================== */
body.dark {
  background-color: #121212;
  color: #e5e5e5;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark .app-title,
body.dark .task-item span,
body.dark .header-title {
  color: #b8b8b8;
}

/* Container */
body.dark .app-container {
  background-color: #111;
  border-color: #333;
}

/* Header */


body.dark .header {
  background-color: #222;
  color: white;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.05);
  ;
}

body.dark .header-nav a {
  color: #d1d5db;
}

body.dark .header-nav a:hover {
  color: white;
}

/* Task */
body.dark .task-item {
  background-color: #222;
  border-color: #333;
}

body.dark .task-item button {
  background-color: #333;
  color: #eee;
}

body.dark .task-item button:hover {
  background-color: #444;
}

body.dark .form-container button {
  background-color: #3a3a3a;
}

/* Inputs */
body.dark input,
body.dark textarea {
  background-color: #222;
  border-color: #444;
  color: #fff;
}

/* Tarjetas de tareas */
body.dark .task-item {
  background: #222;
  border: 1px solid #444;
}